In [3]:
import pandas as pd
df = pd.read_csv("GUWAHATI IRRIDANCE.csv", skiprows=18)
df.head()

,YEAR,MO,DY,ALLSKY_SFC_SW_DWN,T2M,RH2M,CLOUD_AMT,WS2M,PRECTOTCORR,PS,WSC
0,2024,1,1,3.9526,16.03,83.35,11.16,0.38,0.0,97.00,2.08
1,2024,1,2,3.6550,16.05,81.04,26.50,0.37,0.0,96.99,1.73
2,2024,1,3,3.9379,16.07,77.21,26.64,0.49,0.0,96.96,1.82
3,2024,1,4,4.0066,16.01,80.40,14.46,0.38,0.0,96.98,2.04
4,2024,1,5,3.9979,15.52,76.49,14.24,0.51,0.0,97.07,1.99

In [7]:
print(df.isnull().sum())
# check if any row has at least one null value
print(df.isnull().any(axis=1).sum())

YEAR                 0
MO                   0
DY                   0
ALLSKY_SFC_SW_DWN    0
T2M                  0
RH2M                 0
CLOUD_AMT            0
WS2M                 0
PRECTOTCORR          0
PS                   0
WSC                  0
dtype: int64
0

In [10]:
# Check for negative values in all numerical columns
negative_values = (df.select_dtypes(include='number') < 0)
print(negative_values.sum())

# To display rows with any negative value in numeric columns
rows_with_negatives = df[negative_values.any(axis=1)]
print(rows_with_negatives)

YEAR                 0
MO                   0
DY                   0
ALLSKY_SFC_SW_DWN    0
T2M                  0
RH2M                 0
CLOUD_AMT            0
WS2M                 0
PRECTOTCORR          0
PS                   0
WSC                  0
dtype: int64
Empty DataFrame
Columns: [YEAR, MO, DY, ALLSKY_SFC_SW_DWN, T2M, RH2M, CLOUD_AMT, WS2M, PRECTOTCORR, PS, WSC]
Index: []

In [21]:
# Combine YEAR, MO, and DY columns into a single datetime column named 'Date'
df = df.rename(columns={'YEAR': 'year', 'MO': 'month', 'DY': 'day'})
df['Date'] = pd.to_datetime(df[['year', 'month', 'day']])
df.head()


# Now you can extract month and day if needed
# df['Month'] = df['Date'].dt.month
# df['Day'] = df['Date'].dt.day

# Optionally, drop the original YEAR, MO, and DY columns if you don't need them anymore
# df.drop(columns=['YEAR', 'MO', 'DY'], inplace=True)

,year,month,day,ALLSKY_SFC_SW_DWN,T2M,RH2M,CLOUD_AMT,WS2M,PRECTOTCORR,PS,WSC,Date,Month,Day
0,2024,1,1,3.9526,16.03,83.35,11.16,0.38,0.0,97.00,2.08,2024-01-01,1,1
1,2024,1,2,3.6550,16.05,81.04,26.50,0.37,0.0,96.99,1.73,2024-01-02,1,2
2,2024,1,3,3.9379,16.07,77.21,26.64,0.49,0.0,96.96,1.82,2024-01-03,1,3
3,2024,1,4,4.0066,16.01,80.40,14.46,0.38,0.0,96.98,2.04,2024-01-04,1,4
4,2024,1,5,3.9979,15.52,76.49,14.24,0.51,0.0,97.07,1.99,2024-01-05,1,5

In [22]:
df.rename(columns={
    'ALLSKY_SFC_SW_DWN': 'GHI',
    'T2M': 'Temperature',
    'RH2M': 'Humidity',
    'CLOUD_AMT': 'Cloud_Coverage',
    'WS2M': 'Wind_Speed',
    'PRECTOTCORR': 'Precipitation',
    'PS': 'Pressure',
    'WSC': 'Corrected_Wind_Speed'
}, inplace=True)
df.head()

,year,month,day,GHI,Temperature,Humidity,Cloud_Coverage,Wind_Speed,Precipitation,Pressure,Corrected_Wind_Speed,Date,Month,Day
0,2024,1,1,3.9526,16.03,83.35,11.16,0.38,0.0,97.00,2.08,2024-01-01,1,1
1,2024,1,2,3.6550,16.05,81.04,26.50,0.37,0.0,96.99,1.73,2024-01-02,1,2
2,2024,1,3,3.9379,16.07,77.21,26.64,0.49,0.0,96.96,1.82,2024-01-03,1,3
3,2024,1,4,4.0066,16.01,80.40,14.46,0.38,0.0,96.98,2.04,2024-01-04,1,4
4,2024,1,5,3.9979,15.52,76.49,14.24,0.51,0.0,97.07,1.99,2024-01-05,1,5

In [23]:
# Drop the extra year, month, day columns
df = df.drop(columns=['year', 'month', 'day', 'Month', 'Day'], errors='ignore')

# Move 'Date' to first column
columns = df.columns.tolist()
columns.insert(0, columns.pop(columns.index('Date')))
df = df[columns]

df.head()

,Date,GHI,Temperature,Humidity,Cloud_Coverage,Wind_Speed,Precipitation,Pressure,Corrected_Wind_Speed
0,2024-01-01,3.9526,16.03,83.35,11.16,0.38,0.0,97.00,2.08
1,2024-01-02,3.6550,16.05,81.04,26.50,0.37,0.0,96.99,1.73
2,2024-01-03,3.9379,16.07,77.21,26.64,0.49,0.0,96.96,1.82
3,2024-01-04,4.0066,16.01,80.40,14.46,0.38,0.0,96.98,2.04
4,2024-01-05,3.9979,15.52,76.49,14.24,0.51,0.0,97.07,1.99

In [24]:
df.to_csv("GUWAHATI_IRRIDANCE_cleaned.csv", index=False)

In [26]:
df1 = pd.read_csv("BHOPAL IRRIDANCE.csv", skiprows=18)
df1

,YEAR,MO,DY,ALLSKY_SFC_SW_DWN,T2M,RH2M,CLOUD_AMT,WS2M,PRECTOTCORR,PS,WSC
0,2024,1,1,2.5142,18.87,69.38,48.27,1.16,0.00,96.13,2.18
1,2024,1,2,2.0566,18.78,70.96,69.26,1.31,0.00,96.07,2.30
2,2024,1,3,1.6250,19.05,72.70,85.49,1.54,0.13,96.00,2.58
3,2024,1,4,0.9456,18.91,74.69,97.92,1.35,6.66,96.01,2.59
4,2024,1,5,1.0303,18.14,82.27,99.60,1.85,5.46,96.07,2.82
...,...,...,...,...,...,...,...,...,...,...,...
361,2024,12,27,3.2328,19.99,75.76,62.81,2.34,4.06,96.30,3.78
362,2024,12,28,1.8751,19.92,84.31,88.61,1.28,24.88,96.22,2.11
363,2024,12,29,2.7372,17.15,76.75,58.26,1.76,0.29,96.37,3.26
364,2024,12,30,3.2196,14.69,68.11,39.81,1.45,0.00,96.38,2.80
365,2024,12,31,3.1714,15.02,66.90,57.54,1.39,0.00,96.40,2.66

In [29]:
# Combine YEAR, MO, DY into a single datetime column
df1 = df1.rename(columns={'YEAR': 'year', 'MO': 'month', 'DY': 'day'})
df1['Date'] = pd.to_datetime(df1[['year', 'month', 'day']])
df1

,year,month,day,ALLSKY_SFC_SW_DWN,T2M,RH2M,CLOUD_AMT,WS2M,PRECTOTCORR,PS,WSC,Date
0,2024,1,1,2.5142,18.87,69.38,48.27,1.16,0.00,96.13,2.18,2024-01-01
1,2024,1,2,2.0566,18.78,70.96,69.26,1.31,0.00,96.07,2.30,2024-01-02
2,2024,1,3,1.6250,19.05,72.70,85.49,1.54,0.13,96.00,2.58,2024-01-03
3,2024,1,4,0.9456,18.91,74.69,97.92,1.35,6.66,96.01,2.59,2024-01-04
4,2024,1,5,1.0303,18.14,82.27,99.60,1.85,5.46,96.07,2.82,2024-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...
361,2024,12,27,3.2328,19.99,75.76,62.81,2.34,4.06,96.30,3.78,2024-12-27
362,2024,12,28,1.8751,19.92,84.31,88.61,1.28,24.88,96.22,2.11,2024-12-28
363,2024,12,29,2.7372,17.15,76.75,58.26,1.76,0.29,96.37,3.26,2024-12-29
364,2024,12,30,3.2196,14.69,68.11,39.81,1.45,0.00,96.38,2.80,2024-12-30
365,2024,12,31,3.1714,15.02,66.90,57.54,1.39,0.00,96.40,2.66,2024-12-31

In [30]:
# Move 'Date' to be the first column
columns = df1.columns.tolist()
columns.insert(0, columns.pop(columns.index('Date')))
df1 = df1[columns]
df1

,Date,year,month,day,ALLSKY_SFC_SW_DWN,T2M,RH2M,CLOUD_AMT,WS2M,PRECTOTCORR,PS,WSC
0,2024-01-01,2024,1,1,2.5142,18.87,69.38,48.27,1.16,0.00,96.13,2.18
1,2024-01-02,2024,1,2,2.0566,18.78,70.96,69.26,1.31,0.00,96.07,2.30
2,2024-01-03,2024,1,3,1.6250,19.05,72.70,85.49,1.54,0.13,96.00,2.58
3,2024-01-04,2024,1,4,0.9456,18.91,74.69,97.92,1.35,6.66,96.01,2.59
4,2024-01-05,2024,1,5,1.0303,18.14,82.27,99.60,1.85,5.46,96.07,2.82
...,...,...,...,...,...,...,...,...,...,...,...,...
361,2024-12-27,2024,12,27,3.2328,19.99,75.76,62.81,2.34,4.06,96.30,3.78
362,2024-12-28,2024,12,28,1.8751,19.92,84.31,88.61,1.28,24.88,96.22,2.11
363,2024-12-29,2024,12,29,2.7372,17.15,76.75,58.26,1.76,0.29,96.37,3.26
364,2024-12-30,2024,12,30,3.2196,14.69,68.11,39.81,1.45,0.00,96.38,2.80
365,2024-12-31,2024,12,31,3.1714,15.02,66.90,57.54,1.39,0.00,96.40,2.66

In [32]:
# Rename columns for clarity
df1.rename(columns={
    'ALLSKY_SFC_SW_DWN': 'GHI',
    'T2M': 'Temperature',
    'RH2M': 'Humidity',
    'CLOUD_AMT': 'Cloud_Coverage',
    'WS2M': 'Wind_Speed',
    'PRECTOTCORR': 'Precipitation',
    'PS': 'Pressure',
    'WSC': 'Corrected_Wind_Speed'
}, inplace=True)
df1

,Date,year,month,day,GHI,Temperature,Humidity,Cloud_Coverage,Wind_Speed,Precipitation,Pressure,Corrected_Wind_Speed
0,2024-01-01,2024,1,1,2.5142,18.87,69.38,48.27,1.16,0.00,96.13,2.18
1,2024-01-02,2024,1,2,2.0566,18.78,70.96,69.26,1.31,0.00,96.07,2.30
2,2024-01-03,2024,1,3,1.6250,19.05,72.70,85.49,1.54,0.13,96.00,2.58
3,2024-01-04,2024,1,4,0.9456,18.91,74.69,97.92,1.35,6.66,96.01,2.59
4,2024-01-05,2024,1,5,1.0303,18.14,82.27,99.60,1.85,5.46,96.07,2.82
...,...,...,...,...,...,...,...,...,...,...,...,...
361,2024-12-27,2024,12,27,3.2328,19.99,75.76,62.81,2.34,4.06,96.30,3.78
362,2024-12-28,2024,12,28,1.8751,19.92,84.31,88.61,1.28,24.88,96.22,2.11
363,2024-12-29,2024,12,29,2.7372,17.15,76.75,58.26,1.76,0.29,96.37,3.26
364,2024-12-30,2024,12,30,3.2196,14.69,68.11,39.81,1.45,0.00,96.38,2.80
365,2024-12-31,2024,12,31,3.1714,15.02,66.90,57.54,1.39,0.00,96.40,2.66

In [34]:
# Drop unnecessary columns
df1 = df1.drop(columns=['year', 'month', 'day'], errors='ignore')
df1

,Date,GHI,Temperature,Humidity,Cloud_Coverage,Wind_Speed,Precipitation,Pressure,Corrected_Wind_Speed
0,2024-01-01,2.5142,18.87,69.38,48.27,1.16,0.00,96.13,2.18
1,2024-01-02,2.0566,18.78,70.96,69.26,1.31,0.00,96.07,2.30
2,2024-01-03,1.6250,19.05,72.70,85.49,1.54,0.13,96.00,2.58
3,2024-01-04,0.9456,18.91,74.69,97.92,1.35,6.66,96.01,2.59
4,2024-01-05,1.0303,18.14,82.27,99.60,1.85,5.46,96.07,2.82
...,...,...,...,...,...,...,...,...,...
361,2024-12-27,3.2328,19.99,75.76,62.81,2.34,4.06,96.30,3.78
362,2024-12-28,1.8751,19.92,84.31,88.61,1.28,24.88,96.22,2.11
363,2024-12-29,2.7372,17.15,76.75,58.26,1.76,0.29,96.37,3.26
364,2024-12-30,3.2196,14.69,68.11,39.81,1.45,0.00,96.38,2.80
365,2024-12-31,3.1714,15.02,66.90,57.54,1.39,0.00,96.40,2.66

In [45]:
df1.to_csv("BHOPAL_IRRIDIANCE_cleaned.csv", index=False)

In [38]:
df2 = pd.read_csv("KOLKATA IRRIDANCE.csv", skiprows=18)
df2

,YEAR,MO,DY,ALLSKY_SFC_SW_DWN,T2M,RH2M,CLOUD_AMT,WS2M,PRECTOTCORR,PS,WSC
0,2024,1,1,3.3631,16.18,75.29,18.29,1.78,0.0,101.59,3.11
1,2024,1,2,3.6072,15.56,72.21,9.92,1.93,0.0,101.57,3.23
2,2024,1,3,4.1467,15.79,72.35,1.30,1.94,0.0,101.55,3.12
3,2024,1,4,3.8578,17.39,71.01,8.27,1.61,0.0,101.53,2.41
4,2024,1,5,3.5316,18.15,76.22,8.18,1.67,0.0,101.56,2.65
...,...,...,...,...,...,...,...,...,...,...,...
361,2024,12,27,3.7428,18.84,81.49,0.22,1.88,0.0,101.81,3.10
362,2024,12,28,3.9821,19.54,79.03,0.28,1.27,0.0,101.64,1.89
363,2024,12,29,3.4937,20.90,78.59,3.21,1.11,0.0,101.55,1.54
364,2024,12,30,3.4778,20.26,82.51,3.83,1.54,0.0,101.62,2.53
365,2024,12,31,3.1812,16.83,79.33,14.67,2.35,0.0,101.69,3.85

In [40]:
# Combine YEAR, MO, and DY into a single datetime column
df2 = df2.rename(columns={'YEAR': 'year', 'MO': 'month', 'DY': 'day'})
df2['Date'] = pd.to_datetime(df2[['year', 'month', 'day']])
df2

,year,month,day,ALLSKY_SFC_SW_DWN,T2M,RH2M,CLOUD_AMT,WS2M,PRECTOTCORR,PS,WSC,Date
0,2024,1,1,3.3631,16.18,75.29,18.29,1.78,0.0,101.59,3.11,2024-01-01
1,2024,1,2,3.6072,15.56,72.21,9.92,1.93,0.0,101.57,3.23,2024-01-02
2,2024,1,3,4.1467,15.79,72.35,1.30,1.94,0.0,101.55,3.12,2024-01-03
3,2024,1,4,3.8578,17.39,71.01,8.27,1.61,0.0,101.53,2.41,2024-01-04
4,2024,1,5,3.5316,18.15,76.22,8.18,1.67,0.0,101.56,2.65,2024-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...
361,2024,12,27,3.7428,18.84,81.49,0.22,1.88,0.0,101.81,3.10,2024-12-27
362,2024,12,28,3.9821,19.54,79.03,0.28,1.27,0.0,101.64,1.89,2024-12-28
363,2024,12,29,3.4937,20.90,78.59,3.21,1.11,0.0,101.55,1.54,2024-12-29
364,2024,12,30,3.4778,20.26,82.51,3.83,1.54,0.0,101.62,2.53,2024-12-30
365,2024,12,31,3.1812,16.83,79.33,14.67,2.35,0.0,101.69,3.85,2024-12-31

In [41]:
# Move 'Date' to first column
columns = df2.columns.tolist()
columns.insert(0, columns.pop(columns.index('Date')))
df2 = df2[columns]
df2

,Date,year,month,day,ALLSKY_SFC_SW_DWN,T2M,RH2M,CLOUD_AMT,WS2M,PRECTOTCORR,PS,WSC
0,2024-01-01,2024,1,1,3.3631,16.18,75.29,18.29,1.78,0.0,101.59,3.11
1,2024-01-02,2024,1,2,3.6072,15.56,72.21,9.92,1.93,0.0,101.57,3.23
2,2024-01-03,2024,1,3,4.1467,15.79,72.35,1.30,1.94,0.0,101.55,3.12
3,2024-01-04,2024,1,4,3.8578,17.39,71.01,8.27,1.61,0.0,101.53,2.41
4,2024-01-05,2024,1,5,3.5316,18.15,76.22,8.18,1.67,0.0,101.56,2.65
...,...,...,...,...,...,...,...,...,...,...,...,...
361,2024-12-27,2024,12,27,3.7428,18.84,81.49,0.22,1.88,0.0,101.81,3.10
362,2024-12-28,2024,12,28,3.9821,19.54,79.03,0.28,1.27,0.0,101.64,1.89
363,2024-12-29,2024,12,29,3.4937,20.90,78.59,3.21,1.11,0.0,101.55,1.54
364,2024-12-30,2024,12,30,3.4778,20.26,82.51,3.83,1.54,0.0,101.62,2.53
365,2024-12-31,2024,12,31,3.1812,16.83,79.33,14.67,2.35,0.0,101.69,3.85

In [43]:
# Rename columns for clarity
df2.rename(columns={
    'ALLSKY_SFC_SW_DWN': 'GHI',
    'T2M': 'Temperature',
    'RH2M': 'Humidity',
    'CLOUD_AMT': 'Cloud_Coverage',
    'WS2M': 'Wind_Speed',
    'PRECTOTCORR': 'Precipitation',
    'PS': 'Pressure',
    'WSC': 'Corrected_Wind_Speed'
}, inplace=True)
df2

,Date,year,month,day,GHI,Temperature,Humidity,Cloud_Coverage,Wind_Speed,Precipitation,Pressure,Corrected_Wind_Speed
0,2024-01-01,2024,1,1,3.3631,16.18,75.29,18.29,1.78,0.0,101.59,3.11
1,2024-01-02,2024,1,2,3.6072,15.56,72.21,9.92,1.93,0.0,101.57,3.23
2,2024-01-03,2024,1,3,4.1467,15.79,72.35,1.30,1.94,0.0,101.55,3.12
3,2024-01-04,2024,1,4,3.8578,17.39,71.01,8.27,1.61,0.0,101.53,2.41
4,2024-01-05,2024,1,5,3.5316,18.15,76.22,8.18,1.67,0.0,101.56,2.65
...,...,...,...,...,...,...,...,...,...,...,...,...
361,2024-12-27,2024,12,27,3.7428,18.84,81.49,0.22,1.88,0.0,101.81,3.10
362,2024-12-28,2024,12,28,3.9821,19.54,79.03,0.28,1.27,0.0,101.64,1.89
363,2024-12-29,2024,12,29,3.4937,20.90,78.59,3.21,1.11,0.0,101.55,1.54
364,2024-12-30,2024,12,30,3.4778,20.26,82.51,3.83,1.54,0.0,101.62,2.53
365,2024-12-31,2024,12,31,3.1812,16.83,79.33,14.67,2.35,0.0,101.69,3.85

In [44]:
# Drop the extra year, month, day columns
df2 = df2.drop(columns=['year', 'month', 'day'], errors='ignore')
df2

,Date,GHI,Temperature,Humidity,Cloud_Coverage,Wind_Speed,Precipitation,Pressure,Corrected_Wind_Speed
0,2024-01-01,3.3631,16.18,75.29,18.29,1.78,0.0,101.59,3.11
1,2024-01-02,3.6072,15.56,72.21,9.92,1.93,0.0,101.57,3.23
2,2024-01-03,4.1467,15.79,72.35,1.30,1.94,0.0,101.55,3.12
3,2024-01-04,3.8578,17.39,71.01,8.27,1.61,0.0,101.53,2.41
4,2024-01-05,3.5316,18.15,76.22,8.18,1.67,0.0,101.56,2.65
...,...,...,...,...,...,...,...,...,...
361,2024-12-27,3.7428,18.84,81.49,0.22,1.88,0.0,101.81,3.10
362,2024-12-28,3.9821,19.54,79.03,0.28,1.27,0.0,101.64,1.89
363,2024-12-29,3.4937,20.90,78.59,3.21,1.11,0.0,101.55,1.54
364,2024-12-30,3.4778,20.26,82.51,3.83,1.54,0.0,101.62,2.53
365,2024-12-31,3.1812,16.83,79.33,14.67,2.35,0.0,101.69,3.85

In [47]:
df2.to_csv("KOLKATA_IRRIDANCE_cleaned.csv", index=False)

In [49]:
df3 = pd.read_csv("CHENNAI IRRIDANCE.csv", skiprows=18)
df3

,YEAR,MO,DY,ALLSKY_SFC_SW_DWN,T2M,RH2M,CLOUD_AMT,WS2M,PRECTOTCORR,PS,WSC
0,2024,1,1,4.6512,24.34,77.47,28.49,2.68,0.23,100.88,3.55
1,2024,1,2,3.9314,24.28,77.42,74.50,2.93,0.04,100.81,3.85
2,2024,1,3,3.6079,24.57,81.63,82.97,3.16,1.01,100.74,4.08
3,2024,1,4,2.6138,25.06,80.49,96.44,2.95,2.55,100.72,3.90
4,2024,1,5,3.8227,25.03,80.22,84.77,3.31,1.07,100.72,4.25
...,...,...,...,...,...,...,...,...,...,...,...
361,2024,12,27,4.9354,25.67,84.66,28.49,4.05,12.62,100.96,5.26
362,2024,12,28,4.9291,25.21,82.48,14.17,3.17,0.23,100.92,4.24
363,2024,12,29,3.9643,25.14,85.57,44.40,4.05,1.31,100.89,5.07
364,2024,12,30,4.3704,25.49,85.18,54.57,4.10,1.47,100.87,5.09
365,2024,12,31,4.4388,25.13,83.91,28.25,3.78,0.00,100.90,4.88

In [50]:
# Create datetime column from year, month, day
df3 = df3.rename(columns={'YEAR': 'year', 'MO': 'month', 'DY': 'day'})
df3['Date'] = pd.to_datetime(df3[['year', 'month', 'day']])
df3

,year,month,day,ALLSKY_SFC_SW_DWN,T2M,RH2M,CLOUD_AMT,WS2M,PRECTOTCORR,PS,WSC,Date
0,2024,1,1,4.6512,24.34,77.47,28.49,2.68,0.23,100.88,3.55,2024-01-01
1,2024,1,2,3.9314,24.28,77.42,74.50,2.93,0.04,100.81,3.85,2024-01-02
2,2024,1,3,3.6079,24.57,81.63,82.97,3.16,1.01,100.74,4.08,2024-01-03
3,2024,1,4,2.6138,25.06,80.49,96.44,2.95,2.55,100.72,3.90,2024-01-04
4,2024,1,5,3.8227,25.03,80.22,84.77,3.31,1.07,100.72,4.25,2024-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...
361,2024,12,27,4.9354,25.67,84.66,28.49,4.05,12.62,100.96,5.26,2024-12-27
362,2024,12,28,4.9291,25.21,82.48,14.17,3.17,0.23,100.92,4.24,2024-12-28
363,2024,12,29,3.9643,25.14,85.57,44.40,4.05,1.31,100.89,5.07,2024-12-29
364,2024,12,30,4.3704,25.49,85.18,54.57,4.10,1.47,100.87,5.09,2024-12-30
365,2024,12,31,4.4388,25.13,83.91,28.25,3.78,0.00,100.90,4.88,2024-12-31

In [51]:
# Move 'Date' to first column
columns = df3.columns.tolist()
columns.insert(0, columns.pop(columns.index('Date')))
df3 = df3[columns]
df3

,Date,year,month,day,ALLSKY_SFC_SW_DWN,T2M,RH2M,CLOUD_AMT,WS2M,PRECTOTCORR,PS,WSC
0,2024-01-01,2024,1,1,4.6512,24.34,77.47,28.49,2.68,0.23,100.88,3.55
1,2024-01-02,2024,1,2,3.9314,24.28,77.42,74.50,2.93,0.04,100.81,3.85
2,2024-01-03,2024,1,3,3.6079,24.57,81.63,82.97,3.16,1.01,100.74,4.08
3,2024-01-04,2024,1,4,2.6138,25.06,80.49,96.44,2.95,2.55,100.72,3.90
4,2024-01-05,2024,1,5,3.8227,25.03,80.22,84.77,3.31,1.07,100.72,4.25
...,...,...,...,...,...,...,...,...,...,...,...,...
361,2024-12-27,2024,12,27,4.9354,25.67,84.66,28.49,4.05,12.62,100.96,5.26
362,2024-12-28,2024,12,28,4.9291,25.21,82.48,14.17,3.17,0.23,100.92,4.24
363,2024-12-29,2024,12,29,3.9643,25.14,85.57,44.40,4.05,1.31,100.89,5.07
364,2024-12-30,2024,12,30,4.3704,25.49,85.18,54.57,4.10,1.47,100.87,5.09
365,2024-12-31,2024,12,31,4.4388,25.13,83.91,28.25,3.78,0.00,100.90,4.88

In [53]:
df3.rename(columns={
    'ALLSKY_SFC_SW_DWN': 'GHI',
    'T2M': 'Temperature',
    'RH2M': 'Humidity',
    'CLOUD_AMT': 'Cloud_Coverage',
    'WS2M': 'Wind_Speed',
    'PRECTOTCORR': 'Precipitation',
    'PS': 'Pressure',
    'WSC': 'Corrected_Wind_Speed'
}, inplace=True)
df3

,Date,year,month,day,GHI,Temperature,Humidity,Cloud_Coverage,Wind_Speed,Precipitation,Pressure,Corrected_Wind_Speed
0,2024-01-01,2024,1,1,4.6512,24.34,77.47,28.49,2.68,0.23,100.88,3.55
1,2024-01-02,2024,1,2,3.9314,24.28,77.42,74.50,2.93,0.04,100.81,3.85
2,2024-01-03,2024,1,3,3.6079,24.57,81.63,82.97,3.16,1.01,100.74,4.08
3,2024-01-04,2024,1,4,2.6138,25.06,80.49,96.44,2.95,2.55,100.72,3.90
4,2024-01-05,2024,1,5,3.8227,25.03,80.22,84.77,3.31,1.07,100.72,4.25
...,...,...,...,...,...,...,...,...,...,...,...,...
361,2024-12-27,2024,12,27,4.9354,25.67,84.66,28.49,4.05,12.62,100.96,5.26
362,2024-12-28,2024,12,28,4.9291,25.21,82.48,14.17,3.17,0.23,100.92,4.24
363,2024-12-29,2024,12,29,3.9643,25.14,85.57,44.40,4.05,1.31,100.89,5.07
364,2024-12-30,2024,12,30,4.3704,25.49,85.18,54.57,4.10,1.47,100.87,5.09
365,2024-12-31,2024,12,31,4.4388,25.13,83.91,28.25,3.78,0.00,100.90,4.88

In [54]:
# Drop year/month/day columns
df3 = df3.drop(columns=['year', 'month', 'day'], errors='ignore')
df3

,Date,GHI,Temperature,Humidity,Cloud_Coverage,Wind_Speed,Precipitation,Pressure,Corrected_Wind_Speed
0,2024-01-01,4.6512,24.34,77.47,28.49,2.68,0.23,100.88,3.55
1,2024-01-02,3.9314,24.28,77.42,74.50,2.93,0.04,100.81,3.85
2,2024-01-03,3.6079,24.57,81.63,82.97,3.16,1.01,100.74,4.08
3,2024-01-04,2.6138,25.06,80.49,96.44,2.95,2.55,100.72,3.90
4,2024-01-05,3.8227,25.03,80.22,84.77,3.31,1.07,100.72,4.25
...,...,...,...,...,...,...,...,...,...
361,2024-12-27,4.9354,25.67,84.66,28.49,4.05,12.62,100.96,5.26
362,2024-12-28,4.9291,25.21,82.48,14.17,3.17,0.23,100.92,4.24
363,2024-12-29,3.9643,25.14,85.57,44.40,4.05,1.31,100.89,5.07
364,2024-12-30,4.3704,25.49,85.18,54.57,4.10,1.47,100.87,5.09
365,2024-12-31,4.4388,25.13,83.91,28.25,3.78,0.00,100.90,4.88

In [55]:
df3.to_csv("CHENNAI_IRRIDANCE_cleaned.csv", index=False)

In [57]:
df4 = pd.read_csv("JAIPUR 2024-25 IRRIDANCE.csv", skiprows=18)
df4

,YEAR,MO,DY,ALLSKY_SFC_SW_DWN,T2M,RH2M,CLOUD_AMT,WS2M,PRECTOTCORR,PS,WSC
0,2024,1,1,2.6323,13.80,44.23,32.67,1.19,0.00,97.04,2.37
1,2024,1,2,1.3010,13.39,44.37,69.33,1.37,0.00,96.97,2.77
2,2024,1,3,2.9230,13.54,46.77,38.80,1.34,0.00,96.91,2.75
3,2024,1,4,1.6289,11.42,45.81,74.08,1.33,0.00,96.99,2.80
4,2024,1,5,1.6855,10.88,52.07,65.35,1.27,0.00,97.01,2.70
...,...,...,...,...,...,...,...,...,...,...,...
361,2024,12,27,0.6576,16.11,89.74,92.71,2.56,14.48,97.05,3.92
362,2024,12,28,1.7791,14.29,78.10,48.85,2.14,0.03,97.11,3.74
363,2024,12,29,2.9378,12.16,72.32,36.22,1.81,0.00,97.27,3.57
364,2024,12,30,2.6508,11.91,61.66,67.74,1.25,0.00,97.21,2.55
365,2024,12,31,1.8245,12.59,54.26,72.92,1.10,0.00,97.25,1.69

In [59]:
# Combine YEAR, MO, DY into a single datetime column
df4 = df4.rename(columns={'YEAR': 'year', 'MO': 'month', 'DY': 'day'})
df4['Date'] = pd.to_datetime(df4[['year', 'month', 'day']])
df4

,year,month,day,ALLSKY_SFC_SW_DWN,T2M,RH2M,CLOUD_AMT,WS2M,PRECTOTCORR,PS,WSC,Date
0,2024,1,1,2.6323,13.80,44.23,32.67,1.19,0.00,97.04,2.37,2024-01-01
1,2024,1,2,1.3010,13.39,44.37,69.33,1.37,0.00,96.97,2.77,2024-01-02
2,2024,1,3,2.9230,13.54,46.77,38.80,1.34,0.00,96.91,2.75,2024-01-03
3,2024,1,4,1.6289,11.42,45.81,74.08,1.33,0.00,96.99,2.80,2024-01-04
4,2024,1,5,1.6855,10.88,52.07,65.35,1.27,0.00,97.01,2.70,2024-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...
361,2024,12,27,0.6576,16.11,89.74,92.71,2.56,14.48,97.05,3.92,2024-12-27
362,2024,12,28,1.7791,14.29,78.10,48.85,2.14,0.03,97.11,3.74,2024-12-28
363,2024,12,29,2.9378,12.16,72.32,36.22,1.81,0.00,97.27,3.57,2024-12-29
364,2024,12,30,2.6508,11.91,61.66,67.74,1.25,0.00,97.21,2.55,2024-12-30
365,2024,12,31,1.8245,12.59,54.26,72.92,1.10,0.00,97.25,1.69,2024-12-31

In [60]:
# Move 'Date' to first column
columns = df4.columns.tolist()
columns.insert(0, columns.pop(columns.index('Date')))
df4 = df4[columns]
df4

,Date,year,month,day,ALLSKY_SFC_SW_DWN,T2M,RH2M,CLOUD_AMT,WS2M,PRECTOTCORR,PS,WSC
0,2024-01-01,2024,1,1,2.6323,13.80,44.23,32.67,1.19,0.00,97.04,2.37
1,2024-01-02,2024,1,2,1.3010,13.39,44.37,69.33,1.37,0.00,96.97,2.77
2,2024-01-03,2024,1,3,2.9230,13.54,46.77,38.80,1.34,0.00,96.91,2.75
3,2024-01-04,2024,1,4,1.6289,11.42,45.81,74.08,1.33,0.00,96.99,2.80
4,2024-01-05,2024,1,5,1.6855,10.88,52.07,65.35,1.27,0.00,97.01,2.70
...,...,...,...,...,...,...,...,...,...,...,...,...
361,2024-12-27,2024,12,27,0.6576,16.11,89.74,92.71,2.56,14.48,97.05,3.92
362,2024-12-28,2024,12,28,1.7791,14.29,78.10,48.85,2.14,0.03,97.11,3.74
363,2024-12-29,2024,12,29,2.9378,12.16,72.32,36.22,1.81,0.00,97.27,3.57
364,2024-12-30,2024,12,30,2.6508,11.91,61.66,67.74,1.25,0.00,97.21,2.55
365,2024-12-31,2024,12,31,1.8245,12.59,54.26,72.92,1.10,0.00,97.25,1.69

In [62]:
df4.rename(columns={
    'ALLSKY_SFC_SW_DWN': 'GHI',
    'T2M': 'Temperature',
    'RH2M': 'Humidity',
    'CLOUD_AMT': 'Cloud_Coverage',
    'WS2M': 'Wind_Speed',
    'PRECTOTCORR': 'Precipitation',
    'PS': 'Pressure',
    'WSC': 'Corrected_Wind_Speed'
}, inplace=True)

# Drop the extra year, month, day columns
df4 = df4.drop(columns=['year', 'month', 'day'], errors='ignore')
df4

df4.to_csv("JAIPUR_IRRIDANCE_cleaned.csv", index=False)

In [ ]:
import pandas as pd

# Load CSV, adjust skiprows if needed
df5 = pd.read_csv("delhi-2024-25-IRRIDANCE.csv", skiprows=18)

# Combine YEAR, MO, DY into a single datetime column
df5 = df5.rename(columns={'YEAR': 'year', 'MO': 'month', 'DY': 'day'})
df5['Date'] = pd.to_datetime(df5[['year', 'month', 'day']])

# Rename columns for clarity
df5.rename(columns={
    'ALLSKY_SFC_SW_DWN': 'GHI',
    'T2M': 'Temperature',
    'RH2M': 'Humidity',
    'CLOUD_AMT': 'Cloud_Coverage',
    'WS2M': 'Wind_Speed',
    'PRECTOTCORR': 'Precipitation',
    'PS': 'Pressure',
    'WSC': 'Corrected_Wind_Speed'
}, inplace=True)

# Drop the extra year, month, day columns
df5 = df5.drop(columns=['year', 'month', 'day'], errors='ignore')

# Move 'Date' to first column
columns = df5.columns.tolist()
columns.insert(0, columns.pop(columns.index('Date')))
df5 = df5[columns]

# Optionally save cleaned dataset
df5.to_csv("DELHI_IRRIDANCE_cleaned.csv", index=False)

df5.head()

In [64]:
df5 = pd.read_csv("delhi 2024-25 IRRIDANCE.csv", skiprows=18)
df5

,YEAR,MO,DY,ALLSKY_SFC_SW_DWN,T2M,RH2M,CLOUD_AMT,WS2M,PRECTOTCORR,PS,WSC
0,2024,1,1,2.0052,12.19,59.47,71.74,1.31,0.00,99.37,2.54
1,2024,1,2,2.4362,12.34,56.57,61.28,1.35,0.00,99.32,2.47
2,2024,1,3,1.1086,13.09,45.68,76.94,1.03,0.00,99.26,1.86
3,2024,1,4,0.5794,11.26,60.43,99.49,1.00,0.00,99.32,2.13
4,2024,1,5,0.6936,11.51,68.29,99.80,0.96,0.00,99.34,1.57
...,...,...,...,...,...,...,...,...,...,...,...
361,2024,12,27,0.3830,17.27,64.59,99.65,2.01,9.51,99.40,3.24
362,2024,12,28,0.4714,15.20,87.76,88.33,1.75,6.09,99.39,3.02
363,2024,12,29,1.8948,14.42,72.73,90.47,2.52,0.08,99.48,4.65
364,2024,12,30,1.4419,12.35,55.76,82.16,2.36,0.00,99.44,4.08
365,2024,12,31,1.7251,11.62,49.13,68.33,1.26,0.00,99.55,2.56

In [66]:
# Combine YEAR, MO, DY into a single datetime column
df5 = df5.rename(columns={'YEAR': 'year', 'MO': 'month', 'DY': 'day'})
df5['Date'] = pd.to_datetime(df5[['year', 'month', 'day']])
# Move 'Date' to first column
columns = df5.columns.tolist()
columns.insert(0, columns.pop(columns.index('Date')))
df5 = df5[columns]
df5

,Date,year,month,day,ALLSKY_SFC_SW_DWN,T2M,RH2M,CLOUD_AMT,WS2M,PRECTOTCORR,PS,WSC
0,2024-01-01,2024,1,1,2.0052,12.19,59.47,71.74,1.31,0.00,99.37,2.54
1,2024-01-02,2024,1,2,2.4362,12.34,56.57,61.28,1.35,0.00,99.32,2.47
2,2024-01-03,2024,1,3,1.1086,13.09,45.68,76.94,1.03,0.00,99.26,1.86
3,2024-01-04,2024,1,4,0.5794,11.26,60.43,99.49,1.00,0.00,99.32,2.13
4,2024-01-05,2024,1,5,0.6936,11.51,68.29,99.80,0.96,0.00,99.34,1.57
...,...,...,...,...,...,...,...,...,...,...,...,...
361,2024-12-27,2024,12,27,0.3830,17.27,64.59,99.65,2.01,9.51,99.40,3.24
362,2024-12-28,2024,12,28,0.4714,15.20,87.76,88.33,1.75,6.09,99.39,3.02
363,2024-12-29,2024,12,29,1.8948,14.42,72.73,90.47,2.52,0.08,99.48,4.65
364,2024-12-30,2024,12,30,1.4419,12.35,55.76,82.16,2.36,0.00,99.44,4.08
365,2024-12-31,2024,12,31,1.7251,11.62,49.13,68.33,1.26,0.00,99.55,2.56

In [68]:
# Rename columns for clarity
df5.rename(columns={
    'ALLSKY_SFC_SW_DWN': 'GHI',
    'T2M': 'Temperature',
    'RH2M': 'Humidity',
    'CLOUD_AMT': 'Cloud_Coverage',
    'WS2M': 'Wind_Speed',
    'PRECTOTCORR': 'Precipitation',
    'PS': 'Pressure',
    'WSC': 'Corrected_Wind_Speed'
}, inplace=True)

# Drop the extra year, month, day columns
df5 = df5.drop(columns=['year', 'month', 'day'], errors='ignore')
df5

,Date,GHI,Temperature,Humidity,Cloud_Coverage,Wind_Speed,Precipitation,Pressure,Corrected_Wind_Speed
0,2024-01-01,2.0052,12.19,59.47,71.74,1.31,0.00,99.37,2.54
1,2024-01-02,2.4362,12.34,56.57,61.28,1.35,0.00,99.32,2.47
2,2024-01-03,1.1086,13.09,45.68,76.94,1.03,0.00,99.26,1.86
3,2024-01-04,0.5794,11.26,60.43,99.49,1.00,0.00,99.32,2.13
4,2024-01-05,0.6936,11.51,68.29,99.80,0.96,0.00,99.34,1.57
...,...,...,...,...,...,...,...,...,...
361,2024-12-27,0.3830,17.27,64.59,99.65,2.01,9.51,99.40,3.24
362,2024-12-28,0.4714,15.20,87.76,88.33,1.75,6.09,99.39,3.02
363,2024-12-29,1.8948,14.42,72.73,90.47,2.52,0.08,99.48,4.65
364,2024-12-30,1.4419,12.35,55.76,82.16,2.36,0.00,99.44,4.08
365,2024-12-31,1.7251,11.62,49.13,68.33,1.26,0.00,99.55,2.56

In [69]:
df5.to_csv("DELHI_IRRIDANCE_cleaned.csv", index=False)

In [70]:
df['City'] = 'Guwahati'
df1['City']= 'Bhopal'
df2['City'] = 'Kolkata'
df3['City'] = 'Chennai'
df4['City'] = 'Jaipur'
df5['City'] = 'Delhi'


df

,Date,GHI,Temperature,Humidity,Cloud_Coverage,Wind_Speed,Precipitation,Pressure,Corrected_Wind_Speed,City
0,2024-01-01,3.9526,16.03,83.35,11.16,0.38,0.0,97.00,2.08,Guwahati
1,2024-01-02,3.6550,16.05,81.04,26.50,0.37,0.0,96.99,1.73,Guwahati
2,2024-01-03,3.9379,16.07,77.21,26.64,0.49,0.0,96.96,1.82,Guwahati
3,2024-01-04,4.0066,16.01,80.40,14.46,0.38,0.0,96.98,2.04,Guwahati
4,2024-01-05,3.9979,15.52,76.49,14.24,0.51,0.0,97.07,1.99,Guwahati
...,...,...,...,...,...,...,...,...,...,...
361,2024-12-27,3.9929,14.97,78.68,6.41,0.61,0.0,97.31,2.74,Guwahati
362,2024-12-28,4.1174,15.69,76.62,5.89,0.65,0.0,97.08,3.05,Guwahati
363,2024-12-29,3.1106,16.17,82.03,26.38,0.36,0.0,96.94,2.88,Guwahati
364,2024-12-30,3.5942,15.83,84.29,12.65,0.42,0.0,97.10,2.01,Guwahati
365,2024-12-31,3.4483,15.68,83.76,23.71,0.50,0.0,97.11,1.66,Guwahati

In [74]:
# Merge all vertically
combined_df = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

# Check shape and sample data
print(combined_df.shape)
print(combined_df.head())

(1830, 10)
        Date     GHI  Temperature  Humidity  Cloud_Coverage  Wind_Speed  \
0 2024-01-01  2.5142        18.87     69.38           48.27        1.16
1 2024-01-02  2.0566        18.78     70.96           69.26        1.31
2 2024-01-03  1.6250        19.05     72.70           85.49        1.54
3 2024-01-04  0.9456        18.91     74.69           97.92        1.35
4 2024-01-05  1.0303        18.14     82.27           99.60        1.85

   Precipitation  Pressure  Corrected_Wind_Speed    City
0           0.00     96.13                  2.18  Bhopal
1           0.00     96.07                  2.30  Bhopal
2           0.13     96.00                  2.58  Bhopal
3           6.66     96.01                  2.59  Bhopal
4           5.46     96.07                  2.82  Bhopal

In [75]:
cols = combined_df.columns.tolist()
cols.remove('Date')
cols.remove('City')
combined_df = combined_df[['Date', 'City'] + cols]
combined_df

,Date,City,GHI,Temperature,Humidity,Cloud_Coverage,Wind_Speed,Precipitation,Pressure,Corrected_Wind_Speed
0,2024-01-01,Bhopal,2.5142,18.87,69.38,48.27,1.16,0.00,96.13,2.18
1,2024-01-02,Bhopal,2.0566,18.78,70.96,69.26,1.31,0.00,96.07,2.30
2,2024-01-03,Bhopal,1.6250,19.05,72.70,85.49,1.54,0.13,96.00,2.58
3,2024-01-04,Bhopal,0.9456,18.91,74.69,97.92,1.35,6.66,96.01,2.59
4,2024-01-05,Bhopal,1.0303,18.14,82.27,99.60,1.85,5.46,96.07,2.82
...,...,...,...,...,...,...,...,...,...,...
1825,2024-12-27,Delhi,0.3830,17.27,64.59,99.65,2.01,9.51,99.40,3.24
1826,2024-12-28,Delhi,0.4714,15.20,87.76,88.33,1.75,6.09,99.39,3.02
1827,2024-12-29,Delhi,1.8948,14.42,72.73,90.47,2.52,0.08,99.48,4.65
1828,2024-12-30,Delhi,1.4419,12.35,55.76,82.16,2.36,0.00,99.44,4.08
1829,2024-12-31,Delhi,1.7251,11.62,49.13,68.33,1.26,0.00,99.55,2.56

In [76]:
combined_df.to_csv("MERGED_SOLAR_DATA.csv", index=False)